<%= form_for(@oncall_schedule) do |f| %>
    <% if @oncall_schedule.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@oncall_schedule.errors.count, "error") %> prohibited this oncall_schedule from being saved:</h2>

          <ul>
            <% @oncall_schedule.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </div>

    <div class="field">
      <%= f.label :start_date %><br />
      <%= f.datetime_select :start_date %>
    </div>

    <div class="field" id="oncall_schedule_end_date">
      <%= f.label :end_date %><br />
      <%= f.datetime_select :end_date %>
    </div>

    <div class="field">
      <%= f.label :weeks %><br />
      <%= f.number_field :weeks %>
    </div>

    <div class="field">
      <%= f.label :oncall_start_time %><br />
      <%= f.time_select :oncall_start_time %>
    </div>

    <div class="field">
      <%= f.label :oncall_start_day %><br />
      <%= f.select :oncall_start_day, Date::DAYNAMES %>
    </div>

    <div>
      <h3><%= t('oncall_profile.users') %>:</h3>
      <%= f.fields_for :oncall_profiles do |oncall_profile_fields| %>
          <div class="field">
            <%= oncall_profile_fields.label :user %><br />
            <%= oncall_profile_fields.object.user.email %>
            <%= oncall_profile_fields.hidden_field :user_id, :value => oncall_profile_fields.object.user.id %>
          </div>
          <div class="field" id="oncall_profiles_position_user_<%= oncall_profile_fields.object.user.id %>">
            <%= oncall_profile_fields.label :oncall_position %><br />
            <%= oncall_profile_fields.select :oncall_position, (1..(User.select { |x| x.has_role?(:user) }).count), { include_blank: true } %>
          </div>
      <% end %>
    </div>

    <h3><%= t('oncall_schedule.notifications') %>:</h3>
    <div class="field">
      <%= f.label :mailing_list %><br />
      <%= f.text_area :mailing_list, :value => (@oncall_schedule.mailing_list ? (@oncall_schedule.mailing_list.kind_of?(Array) ? @oncall_schedule.mailing_list.join("\r\n") : @oncall_schedule.mailing_list) : '') %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>