<h1><%= t('general.listing') % t('oncall_schedule.name') %>
  <% if can? :create, OncallSchedule %>
    <span class='actions'>
      <%= link_to t('general.new'), new_oncall_schedule_path, :id => 'new_on_call_schedule_link' %>
    </span>
  <% end %>
</h1>

<div>
<table id='oncall_schedules_table' class='data_table'>
  <thead>
  <tr>
    <th><%= t('oncall_schedule.name_name') %></th>
    <th><%= t('oncall_schedule.start_date') %></th>
    <th><%= t('oncall_schedule.end_date') %></th>
    <th><%= t('oncall_schedule.weeks') %></th>
    <th><%= t('general.actions') %></th>
  </tr>
  </thead>

  <tbody>
  <% @oncall_schedules.each do |oncall_schedule| %>
  <tr>
    <td><%= link_to oncall_schedule.name, oncall_schedule %></td>
    <td><%= oncall_schedule.start_date %></td>
    <td><%= oncall_schedule.end_date %></td>
    <td><%= oncall_schedule.weeks %></td>
    <td>
      <%= link_to 'Edit', edit_oncall_schedule_path(oncall_schedule) %>
      <%= link_to 'Destroy', oncall_schedule, method: :delete, data: { confirm: 'Are you sure?' } %>
    </td>
  </tr>
  <% end %>
  </tbody>
</table>
</div>
