<h1><%= t('oncall_schedule.name') %></h1>

<p>
  <b><%= t('oncall_schedule.name_name') %>:</b>
  <%= @oncall_schedule.name %>
</p>

<p>
  <b><%= t('oncall_schedule.start_date') %>:</b>
  <%= @oncall_schedule.start_date.strftime(t('general.timestamp_to_str')) %>
</p>

<% if @oncall_schedule.weeks %>
<p>
  <b><%= t('oncall_schedule.weeks') %>:</b>
  <%=  @oncall_schedule.weeks %>
</p>
<% else %>
<p>
  <b><%= t('oncall_schedule.end_date') %>:</b>
  <%= @oncall_schedule.end_date.strftime(t('general.timestamp_to_str')) %>
</p>
<% end %>
<p>
  <b><%= t('oncall_schedule.oncall_start') %>:</b>
  <%= "#{@oncall_schedule.oncall_start_day.capitalize.pluralize} at #{@oncall_schedule.oncall_start_time.strftime(t('general.time_to_str'))}" %>
</p>
<p>
  <b><%= t('oncall_schedule.scheduler') %>:</b>
  <%= @oncall_schedule.scheduler.email %>
</p>
<br />
<h3><%= t('oncall_profile.users') %>:</h3>
<div class="table">
  <table cellpadding="0" cellspacing="0" border="0" class="datatable table table-striped table-bordered" id="oncall_schedules_table">
    <thead>
    <tr>
      <th><%= t('oncall_profile.user') %></th>
      <th><%= t('oncall_profile.position') %></th>
    </tr>
    </thead>

    <tbody>
    <% @oncall_schedule.oncall_profiles.each do |profile| %>
        <tr>
          <td><%= profile.user.email %></td>
          <td><%= profile.oncall_position %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
<br />
<br />
<%= link_to 'Edit', edit_oncall_schedule_path(@oncall_schedule) %> |
<%= link_to 'Back', oncall_schedules_path %>
