<h1><%= t('general.editing') % t('general.my_account') %></h1>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %>
    <%= resource.email %>
  </div>

  <div class="field">
    <%= f.label :pager_address %>
    <%= f.email_field :pager_address %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div class="field">Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %>&nbsp;<i>(leave blank if you don't want to change it)</i>
    <%= f.password_field :password, :autocomplete => 'off' %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>

  <div class="field">
    <%= f.label :time_zone %>
    <%= f.collection_select :time_zone, ActiveSupport::TimeZone.all, :name, :to_s %>
  </div>

  <div class="field">
    <%= f.label :roles %>
    <ul>
      <% User.values_for_notifications.each do |notification| %>
          <li id="notification_<%= notification %>"><%= check_box_tag 'user[notifications][]', notification, resource.notifications.include?(notification) %> <%= notification.to_s.titleize %></li>
      <% end %>
    </ul>
  </div>

  <div class="actions">
    <%= f.submit 'Update' %>
  </div>
<% end %>

<%= link_to 'Back', :back %>
