<%= form_for(@manual_oncall_schedule) do |f| %>
  <% if @manual_oncall_schedule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@manual_oncall_schedule.errors.count, "error") %> prohibited this manual_oncall_schedule from being saved:</h2>

      <ul>
      <% @manual_oncall_schedule.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :start_date %><br />
    <%= f.date_select :start_date, {:start_year => Date.today.year} %>
  </div>

  <div class="field">
    <%= f.label :end_date %><br />
    <%= f.date_select :end_date, {:start_year => Date.today.year} %>
  </div>

  <div class="field">
    <%= label_tag t('manual_oncall_schedule.send_request_to') %><br />
    <%= text_field_tag :overridden_on_call_user, '', {:readonly => true, :style => 'border: 0;'} %>
  </div>

  <div class="actions">
    <%= f.submit t('manual_oncall_schedule.request_override') %>
  </div>
<% end %>
