<h1><%= t('general.listing') % t('manual_oncall_schedule.overrides') %>
  <% if can? :create, ManualOncallSchedule %>
    <span class='actions'>
      <%= link_to t('general.new'), new_manual_oncall_schedule_path, :id => 'new_manual_oncall_schedule_link' %>
    </span>
  <% end %></h1>

<div>
  <table id='oncall_schedules_table' class='data_table'>
  <thead>
  <tr>
    <th><%= "Requesting User" %></th>
    <th><%= "Overridden User" %></th>
    <th><%= "Start Date" %></th>
    <th><%= "End Date" %></th>
    <th><%= "Approval Status" %></th>
    <th><%= t('general.actions') %></th>
  </tr>
  </thead>

  <tbody>
  <% @manual_oncall_schedules.each do |manual_oncall_schedule| %>
  <% next unless manual_oncall_schedule.overridden_on_call_user && manual_oncall_schedule.oncall_user %>
  <tr>
    <td><%= manual_oncall_schedule.oncall_user.name %></td>
    <td><%= manual_oncall_schedule.overridden_on_call_user.name %></td>
    <td><%= manual_oncall_schedule.start_date %></td>
    <td><%= manual_oncall_schedule.end_date %></td>
    <td><%= approval_status(manual_oncall_schedule) %></td>
    <td>
      <%= link_to t('general.show'), manual_oncall_schedule %>
      <%= link_to t('manual_oncall_schedule_approvals.approve'), approve_manual_oncall_schedule_approval_path(manual_oncall_schedule.approval.id, :redirect_to => manual_oncall_schedules_path) if show_approve_link manual_oncall_schedule %>
      <%= link_to t('manual_oncall_schedule_approvals.reject'), reject_manual_oncall_schedule_approval_path(manual_oncall_schedule.approval, :redirect_to => manual_oncall_schedules_path) if show_reject_link manual_oncall_schedule %>
    </td>
  </tr>
  <% end %>
  </tbody>
</table>
</div>