<h1><%= t('manual_oncall_schedule.show') % [@manual_oncall_schedule.start_date, @manual_oncall_schedule.end_date] %></h1>

<p>
  <b>Requesting User:</b>
  <%= @manual_oncall_schedule.oncall_user.name %>
</p>

<p>
  <b>Overridden on call user:</b>
  <%= @manual_oncall_schedule.overridden_on_call_user.name %>
</p>
<div>
  <h3>Approval Information:</h3>
  <ul style="list-style: none;">
    <li><b>Status:</b> <%= approval_status(@manual_oncall_schedule) %></li>
    <li><b>Action:</b>
    <% if can_approve_reject(@manual_oncall_schedule.approval) && (show_approve_link(@manual_oncall_schedule) || show_reject_link(@manual_oncall_schedule)) %>
      <%= link_to t('manual_oncall_schedule_approvals.approve'), approve_manual_oncall_schedule_approval_path(@manual_oncall_schedule.approval.id) if show_approve_link @manual_oncall_schedule %>
      <%= link_to t('manual_oncall_schedule_approvals.reject'), reject_manual_oncall_schedule_approval_path(@manual_oncall_schedule.approval) if show_reject_link @manual_oncall_schedule %>
    <% else %>
      <%= t('general.unavailable') %>
    <% end %>
    </li>
  </ul>
</div>
<br />
<br />
<%= link_to 'Edit', edit_manual_oncall_schedule_path(@manual_oncall_schedule) %> |
<%= link_to 'Back', manual_oncall_schedules_path %>
