Approval Status: <%= approval.status_string %> <br />
Approval Status URL: <%= link_to manual_oncall_schedule_url(approval.manual_oncall_schedule.id), manual_oncall_schedule_url(approval.manual_oncall_schedule.id) %> <br />
Start Date: <%= approval.manual_oncall_schedule.start_date %> <br />
End Date: <%= approval.manual_oncall_schedule.end_date %>