<%= t('mailers.oncall_schedule_notifier.hello') % @user.name %>,<br />
<%= (t('mailers.manual_oncall_schedule_approval_notifier.on_call_override_status.body') % ["<b>#{@override_start_date}</b>", "<b>#{@override_end_date}</b>","<b>#{@overridden_user.name}</b>","<b>#{@oncall_user.name}</b>", "<b>#{@approval_status}</b>"]).html_safe %>
<br />
<br />
<%= render 'approval_status', :approval => @approval %>