<%= t('mailers.oncall_schedule_notifier.hello') % @user.name %>,
<%= (t('mailers.manual_oncall_schedule_approval_notifier.on_call_override_status.body') % ["#{@override_start_date}", "#{@override_end_date}","#{@overridden_user.name}","#{@oncall_user.name}", "#{@approval_status}"]) %>


<%= render 'approval_status', :approval => @approval %>