<%= t('mailers.oncall_schedule_notifier.hello') % @user.name %>,
<%= (t('mailers.manual_oncall_schedule_approval_notifier.on_call_override_approval.body') % ["#{@requesting_user.name}"]) %>


<%= render 'approval_status', :approval => @approval %>

Approval/Reject:
Approve: <%= link_to @approve_url, @approve_url %>
Reject: <%= link_to @reject_url, @reject_url %>