<%= t('mailers.oncall_schedule_notifier.hello') % @user.name %>,<br />
<%= (t('mailers.manual_oncall_schedule_approval_notifier.on_call_override_approval.body') % ["<b>#{@requesting_user.name}</b>"]).html_safe %>
<br />
<br />
<%= render 'approval_status', :approval => @approval %>
<br />
<br />
Approval/Reject:
<br />
<%= link_to "Approve", @approve_url %>
<%= link_to "Reject", @reject_url %>