<h1><%= t('general.your_account') %></h1>

<%= render 'account/account', :gravatar_url => @user.gravatar_url, :user => @user %>

<strong><%= t('user.pager_address') %>:</strong> <%= @user.pager_address %><br />
<strong><%= t('users.roles') %>:</strong>
<ul>
  <% @user.roles.each do |r| %>
      <li><%= r %></li>
  <% end %>
</ul>
<strong><%= t('users.notifications') %>:</strong>
<ul>
  <% @user.notifications.each do |n| %>
      <li><%= n.to_s.titleize %></li>
  <% end %>
</ul>
<br />
<br />
<%= link_to t('general.edit'), edit_user_registration_path %>