<%= form_for(@calendar, :url => calendars_path) do |f| %>
  <% if @calendar.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@calendar.errors.count, "error") %> prohibited this calendar from being saved:</h2>

      <ul>
      <% @calendar.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :oncall_schedule_id %><br />
    <%= f.select :oncall_schedule_id, OncallSchedule.all.collect {|x| [x.name, x.id]}, {} %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
