<h1><%= t('calendar.on_call_schedule') %></h1>
<% if @calendar.oncall_schedule && (@calendar.schedule_overwritten && @calendar.schedule_overwritten.approval.approved?) %>
    <div class="alert-bootstrap alert-warning alert_style">
      <h4><%= (@calendar.oncall_schedule.present? ? t('calendar.overwrite_user_warning_with_oncall_schedule') : t('calendar.overwrite_user_warning')) % [@calendar.schedule_overwritten.oncall_user.name] %></h4>
    </div>
    <br />
<% end %>

<div id='calendar'></div>

<% user = current_user %>
<%= link_to('Edit', edit_calendars_path) if user_signed_in? && current_user.has_role?(:scheduler)%>
