<%= t('mailers.oncall_schedule_notifier.hello') % @user.name %>,<br />
<%= t('mailers.oncall_schedule_notifier.on_call_monthly.body') %><br />
<br />
<br />
<table>
  <thead>
    <tr>
      <th><%= t('mailers.oncall_schedule_notifier.on_call_monthly.user') %></th>
      <th><%= t('mailers.oncall_schedule_notifier.on_call_monthly.start_date') %></th>
      <th><%= t('mailers.oncall_schedule_notifier.on_call_monthly.end_date') %></th>
    </tr>
  </thead>
  <tbody>
  <% @profiles.each do |profile| %>
    <tr>
      <td><%= profile[:oncall_profile].user.full_name.nil? ? profile[:oncall_profile].user.email : profile[:oncall_profile].user.full_name %></td>
      <td><%= profile[:start_date].in_time_zone(@user.time_zone).strftime(t('general.date_to_str')) %></td>
      <td><%= profile[:end_date].in_time_zone(@user.time_zone).strftime(t('general.date_to_str')) %></td>
    </tr>
  <% end %>
  </tbody>
</table>