<%= t('mailers.oncall_schedule_notifier.hello') % @email %>,
<%= t('mailers.oncall_schedule_notifier.on_call_monthly.body') %>


<% @profiles.each do |profile| %>
    <%= t('mailers.oncall_schedule_notifier.on_call_monthly.user') %>: <%= profile[:oncall_profile].user.full_name.nil? ? profile[:oncall_profile].user.email : profile[:oncall_profile].user.full_name %>
    <%= t('mailers.oncall_schedule_notifier.on_call_monthly.start_date') %>: <%= profile[:start_date].in_time_zone(Time.zone.name).strftime(t('general.date_to_str')) %>
    <%= t('mailers.oncall_schedule_notifier.on_call_monthly.end_date') %>: <%= profile[:end_date].in_time_zone(Time.zone.name).strftime(t('general.date_to_str')) %>
<% end %>