/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require fullcalendar
 *= require look_and_feel
 *
 * CSS based on CSS supplied in Beginning Rails 3, Updated, 2010 Apress by Cloves Carneiro Jr. and Rida Al Barazi
 */

#footer_menu ul
{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

#footer_menu ul li {
    display: inline;
}