<h1><%= t('general.edit') % @user.email.upcase %></h1>

<%= form_for(@user, :url => admin_user_path) do |f| %>
    <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

          <ul>
            <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :email %><br />
      <%= @user.email %>
    </div>
    <div class="field">
      <%= f.label :fname %><br />
      <%= f.text_field :fname %>
    </div>
    <div class="field">
      <%= f.label :lname %><br />
      <%= f.text_field :lname %>
    </div>
    <div class="field">
      <%= f.label :pager_address %><br />
      <%= f.text_field :pager_address %>
    </div>
    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password %>
    </div>
    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation %>
    </div>
    <div class="field">
      <%= f.label :roles %>
      <ul>
        <% User.valid_roles.each do |role| %>
            <li><%= role %><%= check_box_tag 'user[roles][]', role, @user.roles.include?(role) %></li>
        <% end %>
      </ul>
    </div>
    <div class="actions">
      <%= f.submit t('general.updated') %>
    </div>
<% end %>
<%= link_to t('general.back'), admin_users_path %>
