<h1><%= t('general.listing') % t('user.users') %>
    <span class='actions'>
      <%= link_to t('general.new'), new_admin_user_path, :id => 'new_admin_user_link' %>
    </span>
</h1>
<div>
  <table id='admin_users_table' class='data_table'>
    <thead>
      <tr>
        <th><%= t('admin.users.email_address') %></th>
        <th><%= t('user.first_name') %></th>
        <th><%= t('user.last_name') %></th>
        <th><%= t('admin.users.created') %></th>
        <th><%= t('admin.users.last_login') %></th>
        <th><%= t('general.actions') %></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr id="user_<%= user.id %>">
            <td><%= link_to user.email, admin_user_path(user) %></td>
            <td><%= user.fname %></td>
            <td><%= user.lname %></td>
            <td><%= user.created_at.strftime(t('general.timestamp_to_str')) %></td>
            <td><%= user.last_sign_in_at ? user.last_sign_in_at.strftime(t('general.timestamp_to_str')) : t('general.not_applicable') %></td>
            <td>
                <%= link_to t('general.edit'), edit_admin_user_path(user) %>
                <% if current_user != user %>
                <%= link_to t('general.delete'), admin_user_path(user), :confirm => t('general.are_you_sure'), :method => :delete %>
                <% end %>
            </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>