<h1><%= @user.email.upcase %></h1>

<p>
  <b><%= t('user.first_name') %>:</b>
  <%= @user.fname %>
</p>

<p>
  <b><%= t('user.last_name') %>:</b>
  <%= @user.lname %>
</p>

<p>
  <b><%= t('user.pager_address') %>:</b>
  <%= @user.pager_address %>
</p>

<p>
  <b><%= t('admin.users.login_count') %>:</b>
  <%= @user.sign_in_count %>
</p>

<p>
  <b><%= t('admin.users.last_ip') %>:</b>
  <%= @user.last_sign_in_ip %>
</p>

<p>
  <b><%= t('admin.users.confirmed_on') %>:</b>
  <%= @user.confirmed_at %>
</p>

<p>
  <b><%= t('admin.users.confirmation_sent') %>:</b>
  <%= @user.confirmation_sent_at %>
</p>

<p>
  <b><%= t('admin.users.unconfirmed') %>:</b>
  <%= @user.unconfirmed_email %>
</p>

<p>
  <b><%= t('admin.users.failed_attempts') %>:</b>
  <%= @user.failed_attempts %>
</p>

<p>
  <b><%= t('general.created_on') %>:</b>
  <%= @user.created_at %>
</p>

<p>
  <b><%= t('general.updated_on') %>:</b>
  <%= @user.updated_at %>
</p>

<p>
  <b><%= t('user.roles') %>:</b>
  <ul class="roles">
      <% @user.roles.each do |r| %>
      <li><%= r %></li>
      <% end %>
  </ul>
</p>

<br />
<br />
<%= link_to t('general.edit'), edit_admin_user_path(@user) %> |
<%= link_to t('general.back'), admin_users_path %>
