<h1><%= t('general.listing') % t('admin.administration_pages') %></h1>

<div>
<table id='admin_users_table' class='data_table'>
  <thead>
  <tr>
    <th><%= t('admin.page') %></th>
    <th><%= t('admin.description') %></th>
  </tr>
  </thead>
  <tbody>
  <% @admin_pages.each do |k, page| %>
      <tr>
        <td><%= link_to page[:title], page[:path] %></td>
        <td><%= page[:description] %></td>
      </tr>
  <% end %>
  </tbody>
</table>
</div>
<br/><br/><br/>

<%= link_to t('general.back'), root_path %>